@tailwind components;
@tailwind utilities;
@tailwind colors;

@font-face {
    font-family: big-noodle;
    src: url(BigNoodle.ttf)
}

::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #30323d;
}
